{
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "es5",
    "useEditorConfig": true,
    "useTabs": false,
    "vueIndentScriptAndStyle": true,
    "withNodeModules": false,
    "semi": false
  }